<div class="block w-full relative">
    <button (click)="toggleDropdown()"
    class="w-full text-gray-600 bg-white border border-gray-300 rounded-md py-2 px-4 flex items-center justify-between hover:bg-gray-50">
    Add Tags
    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>
    <!-- Dropdown -->
    <div 
        (change)="updateTags()"
        [class.hidden]="!isDropdownVisible" 
        class="absolute z-10 mt-2 bg-white rounded-lg shadow w-full">
        <div class="pl-3 pr-3 pt-3">
            <input 
                type="text" 
                [(ngModel)]="searchQuery" 
                class="block w-full rounded text-black sm:text-sm border-gray-300 mb-2 placeholder:text-gray-400" 
                placeholder="Search tags">
        </div>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 overflow-y-auto h-40 p-3 text-sm text-gray-700 dark:text-gray-200">
            <li *ngFor="let item of filteredItems()" >
                <div class="flex items-center p-2 rounded hover:bg-gray-100">
                    <input 
                        type="checkbox" 
                        [(ngModel)]="item.checked" 
                        class="w-4 h-4 text-hooti-yellow bg-gray-100 border-gray-300 focus:ring-hooti-yellow rounded">
                    <label class="w-full ms-2 text-md text-gray-700 rounded">{{ item.tag.name.length > 10 ? (item.tag.name | slice:0:10) + '…' : item.tag.name }}</label>
                </div>
            </li>                                                  
        </ul>
        <div class="flex items-center pt-3 p-3 space-y-1 text-sm text-gray-700 border-t rounded-b-lg border-gray-300">
            <input 
                type="text" 
                [(ngModel)]="newTag" 
                class="flex-1 block w-full rounded sm:text-sm border-gray-300 mr-2 placeholder:text-gray-400" 
                placeholder="new tag">
            <button 
                type="button" 
                (click)="addTag()" 
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-hooti-yellow focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                </svg>
            </button>
        </div>     
    </div>
</div>
