<div class="flex flex-col bg-background-blue min-h-screen">
    <div class="bg-white text-center drop-shadow-lg" id="questiontext">
        <div class="container mx-auto p-2">
          <div
            class="mt-8 text-2xl font-bold md:text-4xl">
            {{ quizTitle }}
          </div>
        </div>
    </div>

    <div class="flex justify-center items-center">
        <div class="grid gap-16 content-center p-4 pt-96">
            <div class="w-128 row-start-2 row-span-4 bg-blue-400 rounded flex items-center justify-center">
                <h2 class="text-8xl font-bold text-white text-center">2</h2>
            </div>
            <div class="w-96 row-start-1 row-span-5 bg-red-400 rounded flex items-center justify-center">
                <h1 class="text-9xl font-bold text-white">1</h1>
            </div>
            <div class="w-96 row-start-3 row-span-3 bg-green-400 rounded flex items-center justify-center">
                <h3 class="text-6xl font-bold text-white">3</h3>
            </div>
        </div>
    </div>

    <div *ngIf="!displayStatistics" class="bg-white focus:ring-1 focus:outline-none focus:ring-gray-600 font-medium rounded-lg text-center inline-flex items-center mx-64 mt-12">
        <button (click)="showStatistics()" data-dropdown-toggle="dropdown" class="text-black text-sm px-5 py-2.5 text-center inline-flex items-center w-full" type="button">final statistics  
            <span class="flex items-center flex-grow justify-end">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </span>
        </button>   
    </div>

    <div *ngIf="displayStatistics" class="bg-white focus:ring-1 focus:outline-none focus:ring-gray-600 font-medium rounded-lg inline-flex flex-col mx-64 mt-12 mb-10">
        <button (click)="showStatistics()" data-dropdown-toggle="dropdown" class="text-black text-sm px-5 py-2.5 text-center inline-flex items-center w-full" type="button">final statistics  
            <span class="flex items-center flex-grow justify-end">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5 5 1 9 5"/>
                </svg>
            </span>
        </button>   
    
        <div class="w-full px-5 py-2.5">


            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-black">
                    <thead class="text-white bg-pastel-lila">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Questions
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                correct / answers
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                statistic
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questions" class="bg-white border-b hover:bg-gray-100">
                            {{ calculateResults(question.id) }}
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="font-semibold text-black pr-4">{{ question.id }}</span>

                                <span>{{ truncateText(question.questionText, 130) }}</span>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <span> {{ correctAnswers }} / {{ totalAnswers }} </span>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <span> {{ this.resultInPercentage }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    
</div>
