<div class="flex items-center justify-center bg-background-blue min-h-screen">
  <div class="mx-auto w-full max-w-md">
      <div class="flex justify-center items-center">
          <img src="assets/images/hooti.ico" class="md:w-80 md:h-80 w-36 h-36">
      </div>
      <p class="mt-4 mb-10 text-center text-2xl md:text-4xl font-bold leading-9 tracking-tight text-white">Leohoot</p>

        <form #usernameForm="ngForm" class="space-y-6 bg-white mx-4 py-5 px-5 rounded">
            <div>
                <input id="username" name="username" type="username" placeholder="Nickname" [(ngModel)]="username" #nickname="ngModel" required minlength="3" maxlength="15" class="block w-full rounded-md border-0 py-1.5 pl-2 md:h-12 md:text-2xl text-gray-900 text-center shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-center md:placeholder:text-lg focus:ring-2 focus:ring-inset">
                <p [hidden]="!nickname.hasError('minlength')" class="text-gray-400">
                    Nickname must be at least 3 characters long.
                </p>
            </div>
            <div>
                <div *ngIf="!usernameForm.form.valid; then disableButton else button">
                </div>
                <div>
                  <ng-template #disableButton>
                    <button type="button" class="flex w-full items-center justify-center rounded-md bg-hooti-yellow-disabled px-3 py-1.5 md:h-12 xl:text-xl text-lg font-semibold leading-6 text-center text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 disabled:opacity-80" disabled>Let's go!</button>
                  </ng-template>
                  <ng-template #button>
                    <button type="button" (click)="addUser()" class="flex w-full items-center justify-center rounded-md bg-hooti-yellow px-3 py-1.5 md:h-12 xl:text-xl text-lg font-semibold leading-6 text-center text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Let's go!</button>
                  </ng-template>
                </div>
            </div>
        </form>
      </div>
</div>
