<div class="font-medium rounded-lg flex-col mb-10">
  <div class="w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-black">
        <thead class="text-white bg-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Questions
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            correct / answers
          </th>
          <th scope="col" class="py-3 text-center">
            statistic
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let chart of charts" class="bg-white border-b hover:bg-gray-100">
          <td class="px-6 py-4 whitespace-nowrap">
            <span class="font-semibold text-black text-xl pr-4">{{ chart.questionNumber }}</span>

            <span class="text-lg">{{ truncateText(chart.questionText, 120) }}</span>
          </td>
          <td class="px-6 py-4 text-center text-lg">
            <span> {{ chart.correctAnswers }} / {{ chart.totalAnswers }} </span>
          </td>
          <td class="px-6 py-4 text-center">
            <div *ngIf="chartOptions" class="w-96">
              <apx-chart
                *ngIf="chartOptions.chart && chartOptions.responsive"
                [series]="[chart.correctAnswersInPercentage, chart.incorrectAnswersInPercentage, chart.notGivenAnswersInPercentage]"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
                [responsive]="chartOptions.responsive"
                [colors]="chartOptions.colors"
              ></apx-chart>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
