
<div class="flex flex-col lg:flex-row min-h-screen bg-background-blue">
  <app-sidebar class="lg:w-1/5 w-full h-full lg:block hidden sticky top-0 self-start"/>
  <app-sidebar
    *ngIf="isSidebarVisible && !screenIsLarge"
    class="w-1/2 bg-white fixed lg:relative z-50"
    [toggleSidebar]="toggleSidebar.bind(this)">
  </app-sidebar>

  <!-- Main Content -->
  <div class="flex flex-col flex-1">
    <!-- Header -->
    <div class="flex items-center justify-between bg-background-blue-dark p-4 text-white h-16">
      <div class="lg:hidden flex items-center pr-4">
        <button (click)="toggleSidebar()" class="text-white">
          <span class="material-icons text-3xl">menu</span>
        </button>
      </div>
      <div class="flex items-center flex-grow mr-4">
        <span class="material-icons text-2xl mr-2">search</span>
        <input
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchText"
          (input)="search(searchText)"
          class="p-2 rounded-lg flex-grow bg-white border-white text-gray-800"
        />
      </div>
      <app-profile/>
    </div>
    <main class="p-4 sm:p-6">
      <div class="filter-section mb-2">
        <!-- Filter Header -->
        <div 
        class="filter-header px-3 py-1 bg-white border border-gray-300 rounded-lg shadow-md flex items-center cursor-pointer transition-all duration-300 hover:bg-gray-100" 
        (click)="isOpen = !isOpen"
    >
        <img src="assets/images/filter.png" alt="filter" class="w-6 h-6 mr-4">
        <p class="text-lg pt-3 justify-center text-gray-800 flex-grow">Filter by Tags</p>
        <svg 
            class="w-4 h-4 text-gray-500 transform transition-transform duration-300" 
            [ngClass]="{'rotate-180': isOpen, 'rotate-0': !isOpen}" 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor"
        >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </div>

      
        <!-- Filter Content -->
        <div 
          class="filter-content overflow-hidden transition-all duration-300 ease-in-out"
          [ngClass]="{'max-h-60 mt-2': isOpen, 'max-h-0': !isOpen}"
        >
          <div class="p-4 bg-white border-t border-gray-300 rounded-b-lg">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
              <!-- Loop through tags -->
              <span *ngFor="let tag of tags" class="flex items-center space-x-2">
                <input 
                  type="checkbox" 
                  id="{{ tag.name }}" 
                  [checked]="selectedTags.includes(tag)" 
                  (change)="toggleTagSelection(tag)" 
                  class="form-checkbox h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-2 focus:ring-blue-500"
                />
                <label 
                  for="{{ tag.name }}" 
                  class="text-sm text-gray-700 cursor-pointer hover:text-blue-600 transition-colors duration-200"
                >
                  {{ tag.name.length > 23 ? (tag.name | slice:0:23) + '…' : tag.name}}
                </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <div
          *ngFor="let quiz of filteredQuizzes"
          class="p-4 relative bg-white h-[26rem] rounded-lg shadow-lg flex flex-col items-center"
        >
             
          <div (click)="viewQuizDetails(quiz)">
            <img *ngIf="quiz.isFavorited"
              src="assets/images/heart-filled-light.png" 
              alt="Heart" 
              class="absolute top-2 right-2 w-11 h-11 cursor-pointer"
            />

            <img
            *ngIf="quiz.imageName"
            [src]="quiz.imageName"
            alt="Quiz Image"
            class="w-full h-56 object-cover mb-3 aspect-[16/9]"
          />
          <img
            *ngIf="!quiz.imageName"
            src="assets/images/noImage.png"
            alt="No image"
            class="w-full h-56 object-cover mb-3 aspect-[16/9]"
          />

          <div class="flex items-start justify-center gap-2 my-3">
            <div *ngIf="!quiz.isPublic" class="flex bg-hooti-yellow text-white p-1 items-center rounded-md">
              <img src="assets/images/padlock.png" alt="lock" class="w-6 h-6">
            </div>
            <div class="flex flex-col justify-start text-lg text-left">
              <p>{{ quiz.title.length > 35 ? (quiz.title | slice:0:35) + '…' : quiz.title }}</p>
            </div>
          </div>
          

          <div class="flex flex-wrap gap-2 mt-1 mb-1 justify-center h-8">
            <span 
                *ngFor="let tag of quiz.tags | slice:0:2" 
                class="px-2 py-1 bg-gray-200 rounded text-sm"
              >
                {{ tag.name }}
              </span>
            <span 
              *ngIf="quiz.tags.length > 2" 
              class="px-2 py-1 bg-gray-200 rounded text-sm text-gray-500"
            >
              +{{ quiz.tags.length - 2 }} more
            </span>
          </div>
          
          <div class="flex justify-between w-full mt-6 ">
            <div class="flex justify-start items-center rounded-lg">
              <img src="/assets/images/hootiFaceIcon.ico" alt="hootie icon" class="w-10 h-10 rounded-full mr-2">
              <div class="text-md">{{quiz.creator}}</div>
            </div>

            <div class="flex justify-end items-center">
              <div class="inline-flex items-center bg-gray-200 rounded-md px-4 py-2 font-bold ml-2 mr-2">
                <span class="mr-2">?</span>
                <span class="font-normal">{{ quiz.questions.length }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </main>
    </div>
</div>
