<img
  class="mx-auto w-1/6 max-w-md mt-10"
  src="assets/images/trophy-star.png"
  alt="trophy-star"
/>
<div class="flex justify-center items-center">
  <div class="grid gap-16 content-center p-4 pt-20">
    <div class="w-128 row-start-2 row-span-4 bg-blue-400 rounded flex items-center flex-col justify-center">
      <span class="text-xl  uppercase font-bold text-white">{{ statistic.topThreePlayers[1].username }}</span>
      <span class="text-8xl font-bold text-white text-center">2</span>
    </div>
    <div class="w-128 row-start-1 row-span-5 bg-red-400 rounded flex items-center flex-col justify-center">
      <span class="text-xl  uppercase font-bold text-white">{{ statistic.topThreePlayers[0].username }}</span>
      <span class="text-9xl font-bold text-white">1</span>
    </div>
    <div class="w-128 row-start-3 row-span-3 bg-green-400 rounded flex items-center flex-col justify-center">
      <span class="text-xl uppercase font-bold text-white">{{ statistic.topThreePlayers[2].username }}</span>
      <span class="text-6xl font-bold text-white">3</span>
    </div>
  </div>
</div>
