<div class="grid gap-8 grid-cols-3 content-start p-1 w-128 items-end">
  <div class="col-span-1 h-52 bg-pastel-lila rounded flex items-center flex-col justify-end pb-5">
    <span class="text-lg uppercase font-bold text-white">{{ statistic.topThreePlayers[1].username }}</span>
    <span class="text-5xl font-bold text-white text-center">2</span>
  </div>
  <div class="col-span-1 h-72 bg-hooti-yellow rounded flex items-center flex-col justify-end pb-5">
    <span class="text-lg uppercase font-bold text-white pt-5">{{ statistic.topThreePlayers[0].username }}</span>
    <span class="text-5xl font-bold text-white">1</span>
  </div>
  <div class="col-span-1 h-32 bg-green-400 rounded flex items-center flex-col justify-end pb-5">
    <span class="text-lg uppercase font-bold text-white">{{ statistic.topThreePlayers[2].username }}</span>
    <span class="text-5xl font-bold text-white">3</span>
  </div>
</div>
