<div class="flex flex-grow flex-col gap-y-5 overflow-y-auto bg-design-quiz-blue px-6 min-h-screen">
    <div class="flex items-center justify-center">
        <div class="flex flex-col items-center justify-center mt-8">
            <div *ngIf="!quizTitle">
                <p class="text-gray-300 text-xl font-semibold mb-3" (click)="onQuizTitle()">Quiz Name</p>
            </div>
            <div *ngIf="quizTitle">
                <p class="text-white text-xl font-semibold mb-3 hover:text-2xl" (click)="onQuizTitle()">{{ truncateText(quizTitle, 17) }}</p>
            </div>
            <button class="flex items-center justify-center rounded-lg bg-hooti-yellow mx-2 text-white h-10 w-64" (click)="onQuestionCreate()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                </svg>
            </button>
        </div>
    </div>
    <hr>
    <nav class="flex flex-1 flex-col" >
    <div class="overflow-y-auto">
        <ul role="list" class="flex flex-1 flex-col gap-y-48 overflow-y-auto" style="max-height: calc(100vh - 200px);">
            <li>
                <ul cdkDropList class="-mx-2 space-y-3" (cdkDropListDropped)="drop($event)" [cdkDropListData]="existingQuestions">
                    <li *ngFor="let existingQuestion of existingQuestions;" cdkDrag (click)="onQuestionSelect(existingQuestion)">
                        <app-quiz-maker-sidebar-item [existingQuestion]="existingQuestion" (onDelete)="onQuestionDelete($event)"></app-quiz-maker-sidebar-item>
                    </li>                                 
                </ul> 
            </li>
        </ul>
    </div>
    </nav>
</div>
 