<aside class="bg-white p-4 text-center min-h-screen flex flex-col justify-between">
    <div class="flex flex-col mb-auto">
      <div class="flex flex-auto justify-between items-start">
      <button *ngIf="toggleSidebar" (click)="toggleSidebar()" class="text-black">
        <span class="material-icons text-3xl">close</span>
      </button>
      <img src="assets/images/hootiFaceIcon.ico" alt="hooti" class="w-16 h-16 mb-4 mx-auto">
    </div>
      <button
        (click)="toggleHome()"
        class="flex items-center p-2 w-full text-gray-700 hover:bg-gray-200 rounded"
        [ngClass]="{'bg-gray-300': selectedItem === 'home'}">
        <span class="material-icons mr-2">home</span> {{ 'Home' }}
      </button>
      <button
        class="flex items-center p-2 w-full text-gray-700 hover:bg-gray-200 rounded"
        [ngClass]="{'bg-gray-300': selectedItem === 'favorites'}"
        (click)="toggleFavoriteQuizzes()">
        <span class="material-icons mr-2">favorite</span> {{ 'Favorite Quizzes' }}
      </button>
      <button
        class="flex items-center p-2 w-full text-gray-700 hover:bg-gray-200 rounded"
        [ngClass]="{'bg-gray-300': selectedItem === 'own'}"
        (click)="toggleOwnQuizzes()">
        <span class="material-icons mr-2">quiz</span> {{ 'Own Quizzes' }}
      </button>
      <button
        class="flex items-center p-2 w-full text-gray-700 hover:bg-gray-200 rounded"
        [ngClass]="{'bg-gray-300': selectedItem === 'statistics'}"
        (click)="toggleStatistics()">
        <span class="material-icons mr-2">bar_chart</span> {{ 'Statistics' }}
      </button>
    </div>

    <button routerLink="/quizMaker" class="mt-4 w-full p-2 bg-hooti-yellow text-white rounded">
        New Quiz
    </button>
</aside>
