<div class="flex flex-col bg-background-blue min-h-screen" *ngIf="ranking">
  <app-header title="Ranking"/>
  <div class="container mx-auto p-2 text-center max-w-screen-2xl max-h-screen flex-1">
    <div class="container mx-auto flex flex-col items-end p-2">
      <app-button text="Next" (click)="nextQuestion()"/>
      <app-ranking-list [ranking]="ranking" class="w-full space-y-4"/>
    </div>
  </div>
  <app-footer [quizLength]="ranking.quizLength" [questionNumber]="ranking.questionNumber"/>
</div>






