
<div class="bg-hooti-yellow pb-2 text-center">
  <div class="container mx-auto p-2">
    <div class="text-2xl font-bold md:text-4xl">
      Student View
    </div>
  </div>
</div>
<div class="container mx-auto max-w-128 p-2 text-center bg-hooti-beige max-w-screen-sm">
  <div class="bg-white border-2 border-yellow-400 rounded-md col-auto row-auto mb-20  grid-rows-1 text-xl mt-3 grid grid-cols-1 gap-2 mx-auto">
    <p class="text-center justify-start">{{currentQuestionId}}/{{quizLength}}</p>
  </div>
  <div class="bg-white border-2 border-yellow-400 rounded-md col-auto row-auto mb-10  flex justify-center items-center grid-cols-2 grid-rows-2 gap-3">
    <div class="container mx-auto p-2" >
      <div class="mt-5 grid grid-cols-1 gap-2 sm:mx-0">
        <p class="text-center">Name</p>
        <p class="text-center">Points: {{currentQuestionId*20}}</p>
        <p class="text-center justify-end">Ranking: 1</p>
      </div>
    </div>
  </div>
</div>

