<div class="min-h-screen flex items-center justify-center bg-background-blue">
    <div class="bg-white p-6 rounded shadow-md w-full max-w-sm">
      <h2 class="text-2xl font-bold mb-4 text-center">Sign Up</h2>
      <form>
        <div class="mb-4">
          <label for="username" class="block text-gray-700">Benutzername</label>
          <input type="text" class="w-full px-3 py-2 border rounded" [(ngModel)]="username" name="username" required minlength="3" maxlength="20" #usernameInput="ngModel">
          <div class="text-red-700 text-sm" *ngIf="!usernameInput.pristine && (usernameInput.errors?.['required'] || usernameInput.errors?.['minlength'] || usernameInput.errors?.['maxlength'])">Password must contain at least one upper case, one lower case, one number, one special character, and must be at least 8 characters long</div>
        </div>
        <div class="mb-4">
          <label for="password" class="block text-gray-700">Password</label>
          <input type="password" id="password" class="w-full px-3 py-2 border rounded" [(ngModel)]="password" name="password" required appValidatePassword #passwordInput="ngModel">
          <div class="text-red-700 text-sm" *ngIf="!passwordInput.pristine && (passwordInput.errors?.['required'] || passwordInput.errors?.['invalidPassword'])">Password must contain at least one upper case, one lower case, one number, one special character, and must be at least 8 characters long</div>
        </div>
        <div class="mb-4">
          <label for="confirm-password" class="block text-gray-700">Confirm Password</label>
          <input type="password" class="w-full px-3 py-2 border rounded" required name="confirm-password" [(ngModel)]="confirmPassword"  #confirmPasswordInput="ngModel">
          <div class="text-red-700 text-sm" *ngIf="!confirmPasswordInput.pristine && confirmPassword != password">Password and Confirm-Password must be equal</div>
        </div>
        <button (click)="signup()" type="submit" class="w-full bg-hooti-yellow text-white py-2 rounded" [disabled]="usernameInput.errors?.['required'] || usernameInput.errors?.['minlength'] || usernameInput.errors?.['maxlength'] || passwordInput.errors?.['required'] || passwordInput.errors?.['invalidPassword']">Sign Up</button>
      </form>
    </div>
</div>
  