<div class="bg-background-blue-dark p-3 flex items-center justify-between">
  <div class="lg:hidden flex items-center pr-4">
    <button (click)="toggleSidebar && toggleSidebar()" class="text-white">
      <span class="material-icons text-3xl">menu</span>
    </button>
  </div>
  <div class="flex items-center flex-grow mr-4">
    <div class="text-3xl font-bold text-white">{{quiz?.title}}</div>
  </div>
  <div class="flex items-center space-x-4">
    <img *ngIf="quiz?.isFavorited === false" src="assets/images/heart-light.png" alt="heart" class="w-6 h-6 hover:w-7 hover:h-7" (click)="favoriteQuiz()">
    <img *ngIf="quiz?.isFavorited" src="assets/images/heart-filled-light.png" alt="heart" class="w-7 h-7 hover:w-8 hover:h-8" (click)="unfavoriteQuiz()">
    <img src="assets/images/duplicate.png" alt="duplicate" class="w-6 h-6 hover:w-7 hover:h-7" (click)="duplicateQuiz()">
    <img *ngIf="quiz?.creator === username" src="assets/images/edit.png" alt="edit" class="w-6 h-6 hover:w-7 hover:h-7" (click)="editQuiz()">
    <img *ngIf="quiz?.creator === username" src="assets/images/bin.png" alt="delete" class="w-6 h-6 hover:w-7 hover:h-7" (click)="deleteQuiz()">
    <div class="w-px h-6 bg-white"></div>
    <img src="assets/images/user.png" alt="user" class="w-6 h-6">
    <div class="text-xl text-white">{{username}}</div>
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white" type="button">
      <img src="assets/images/drop-down.png" alt="drop-down" class="w-3 h-3" (click)="toggleDropdown()"/>
    </button>
    <div *ngIf="isDropdownOpen" class="absolute right-2 top-16 bg-white text-black mt-2 rounded-md shadow-lg p-2 w-32">
      <div class="cursor-pointer p-2 hover:bg-gray-200" (click)="logout()">Logout</div>
    </div>
  </div>
</div>
