<div class="flex flex-col bg-background-blue min-h-screen" *ngIf="question">
  <app-header-student [showQuestion]="showQuestion.bind(this)" title="Question {{question.questionNumber}}/{{question.quizLength}}"/>
  <div *ngIf="isModalVisible" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white w-11/12 md:w-1/2 lg:w-1/3 p-6 rounded-lg shadow-lg relative">
      <button (click)="closeModal()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-900 text-xl font-bold">&times;</button>
      <div class="text-lg font-semibold text-gray-800">{{ question.questionText }}</div>
      <div class="mt-4 flex justify-end">
        <button (click)="closeModal()" class="bg-background-blue text-white px-4 py-2 rounded-md">Got it!</button>
      </div>
    </div>
  </div>
  <div class="flex-1 w-full mx-auto flex items-center justify-center">
    <div class="grid grid-cols-2 gap-2 w-full mx-5 md:mx-10 lg:mx-14">
      <div *ngFor="let buttonClicked of buttons; index as i" class="">
        <div *ngIf="!buttonClicked" (click)="addToAnswer(i)"
            class="{{colors[i]}} flex justify-center items-center w-full h-52 lg:h-72 md:h-64 rounded-lg md:text-2xl text-base
                    font-bold px-4 text-white drop-shadow-lg align-middle">
          <img src="{{icons[i]}}" class="h-24 w-24 lg:h-40 lg:w-40" alt="Icon">
        </div>
        <div *ngIf="buttonClicked" (click)="addToAnswer(i)"
            class="{{colors[i]}} flex justify-center items-center w-full h-52 lg:h-72 md:h-64 rounded-lg border-8 border-white md:text-2xl text-base
                    font-bold px-4 text-white drop-shadow-lg align-middle">
          <img src="{{icons[i]}}" class="h-24 w-24 lg:h-40 lg:w-40" alt="Icon">
        </div>
      </div>
      <div class="flex justify-end col-span-2">
        <button 
          class="w-full my-4 h-14 rounded-md bg-white p-2 text-black font-bold text-lg disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed" 
          [disabled]="!isAnyButtonTrue()" 
          (click)="confirmAnswers()">
          Done
        </button>
      </div>
    </div>
</div>
  <app-footer-student [username]="username" [points]="question.points"/>
</div>
