<div class="flex flex-col bg-background-blue min-h-screen" *ngIf="statistic">
    <div class="bg-white text-center drop-shadow-lg" id="questiontext">
        <div class="container mx-auto p-2">
          <div
            class="mt-8 text-2xl font-bold md:text-4xl">
            {{ statistic.quizName }}
          </div>
        </div>
    </div>
    <div class="flex justify-end">
        <button class="sm:w-15 rounded-xl bg-white p-2 text-black text-lg font-bold drop-shadow-lg sm:mx-8 md:mx-16 lg:mx-24 xl:mx-32 my-5 w-24" routerLink="/games">
            Back
        </button>
    </div>

    <img
            class="mx-auto w-1/6 max-w-md mt-10"
            src="/assets/images/trophy-star.png"
            alt="trophy-star"
          />
    <div class="flex justify-center items-center">
        <div class="grid gap-16 content-center p-4 pt-20">
            <div class="w-128 row-start-2 row-span-4 bg-blue-400 rounded flex items-center flex-col justify-center">
                <span class="text-xl  uppercase font-bold text-white">{{ statistic.topThreePlayers[1].username }}</span>
                <span class="text-8xl font-bold text-white text-center">2</span>
            </div>
            <div class="w-128 row-start-1 row-span-5 bg-red-400 rounded flex items-center flex-col justify-center">
                <span class="text-xl  uppercase font-bold text-white">{{ statistic.topThreePlayers[0].username }}</span>
                <span class="text-9xl font-bold text-white">1</span>
            </div>
            <div class="w-128 row-start-3 row-span-3 bg-green-400 rounded flex items-center flex-col justify-center">
                <span class="text-xl uppercase font-bold text-white">{{ statistic.topThreePlayers[2].username }}</span>
                <span class="text-6xl font-bold text-white">3</span>
            </div>
        </div>
    </div>

    <div *ngIf="!displayStatistics" class="bg-white focus:ring-1 focus:outline-none focus:ring-gray-600 font-medium rounded-lg text-center inline-flex items-center mx-4 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-32 mt-12">
        <button (click)="showStatistics()" data-dropdown-toggle="dropdown" class="text-black text-sm px-5 py-2.5 text-center inline-flex items-center w-full" type="button">final statistics  
            <span class="flex items-center flex-grow justify-end">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </span>
        </button>   
    </div>

    <div *ngIf="displayStatistics" class="bg-white focus:ring-1 focus:outline-none focus:ring-gray-600 font-medium rounded-lg inline-flex flex-col mx-4 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-32 mt-12 mb-10">
        <button (click)="showStatistics()" data-dropdown-toggle="dropdown" class="text-black text-sm px-5 py-2.5 text-center inline-flex items-center w-full" type="button">final statistics  
            <span class="flex items-center flex-grow justify-end">
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5 5 1 9 5"/>
                </svg>
            </span>
        </button>   
    
        <div class="w-full px-5 py-2.5">


            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-black">
                    <thead class="text-white bg-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Questions
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                correct / answers
                            </th>
                            <th scope="col" class="py-3 text-center">
                                statistic
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chart of charts" class="bg-white border-b hover:bg-gray-100">
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="font-semibold text-black text-xl pr-4">{{ chart.questionNumber }}</span>

                                <span class="text-lg">{{ truncateText(chart.questionText, 120) }}</span>
                            </td>
                            <td class="px-6 py-4 text-center text-lg">
                                <span> {{ chart.correctAnswers }} / {{ chart.totalAnswers }} </span>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <div *ngIf="chartOptions" class="w-96">
                                    <apx-chart
                                      *ngIf="chartOptions.chart && chartOptions.responsive"
                                      [series]="[chart.correctAnswersInPercentage, chart.incorrectAnswersInPercentage]"
                                      [chart]="chartOptions.chart"
                                      [labels]="chartOptions.labels"
                                      [responsive]="chartOptions.responsive"
                                      [colors]="chartOptions.colors"
                                    ></apx-chart>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>    
</div>
