<div class="bg-hooti-yellow pb-2 text-center" id="questiontext">
  <div class="container mx-auto p-2">
    <div class="mt-8 text-2xl font-bold md:text-4xl">
      {{ demoQuiz.questions[currentQuestionIndex].question }}
    </div>
  </div>
</div>
<div class="container mx-auto p-2">
  <div class="col-auto row-auto mb-20 mt-16 grid grid-cols-5 grid-rows-1 gap-3">
    <div
      class="my-5 inline-flex h-12 w-12 items-center justify-center self-center rounded-full bg-hooti-yellow text-base font-bold text-white md:h-20 md:w-20 md:text-3xl"
    >
      {{
        demoQuiz.questions[currentQuestionIndex].answerTimeInSeconds - currTime
      }}
    </div>

    <div class="col-span-3 self-center justify-self-stretch">
      <div
        *ngIf="demoQuiz.questions[currentQuestionIndex].imageName"
        class="flex items-center justify-center"
      >
        <img
          class="max-h-56"
          src="{{ demoQuiz.questions[currentQuestionIndex].imageName }}"
          alt="{{ demoQuiz.questions[currentQuestionIndex].imageName }}"
        />
      </div>
      <div
        *ngIf="!demoQuiz.questions[currentQuestionIndex].imageName"
        class="my-20"
      ></div>
    </div>

    <div class="justify-self-end">
      <button
        *ngIf="!questionIsFinished"
        class="sm:w-15 my-10 rounded-md bg-hooti-yellow p-2 text-white md:w-20"
        (click)="showCorrectAnswer()"
      >
        Skip
      </button>
      <button
        *ngIf="questionIsFinished"
        class="sm:w-15 my-10 rounded-md bg-hooti-yellow p-2 text-white md:w-20"
        (click)="nextQuestion()"
      >
        Next
      </button>
    </div>
  </div>

  <div class="mt-5 grid grid-cols-2 gap-2 sm:mx-0">
    <div
      *ngFor="
        let answer of demoQuiz.questions[currentQuestionIndex].answers;
        index as i
      "
    >
      <div
        *ngIf="!questionIsFinished || (questionIsFinished && answer.isCorrect)"
        class="{{
          colors[i]
        }} flex items-center h-28 rounded-lg md:text-2xl text-base font-bold px-4 text-white shadow-lg shadow-gray-300 md:h-24"
      >
        {{ answer.answer }}
      </div>
      <div
        *ngIf="questionIsFinished && !answer.isCorrect"
        class="flex h-28 items-center rounded-lg bg-hooti-grey px-4 align-middle text-base font-bold text-white shadow-lg shadow-gray-300 md:h-24 md:text-2xl"
      >
        {{ answer.answer }}
      </div>
    </div>
  </div>
</div>
