<div class="container mx-auto p-2">
  <div class="text-center">
    <div class="font-bold text-3xl mt-8">{{ demoQuiz.questions[currentQuestionIndex].question }}</div>
  </div>

  <div class="grid col-auto row-auto grid-cols-5  grid-rows-1 gap-3 mt-16 mb-20">
    <div class="self-center md:w-20 md:h-20 w-12 h-12  rounded-full inline-flex items-center justify-center bg-hooti-beige text-xl font-bold">
      {{demoQuiz.questions[currentQuestionIndex].answerTimeInSeconds - currTime}}
    </div>

    <div class="col-span-3 justify-self-stretch self-center">
      <div *ngIf="demoQuiz.questions[currentQuestionIndex].imageName" class="flex justify-center items-center">
        <img  src="{{demoQuiz.questions[currentQuestionIndex].imageName}}" alt="{{demoQuiz.questions[currentQuestionIndex].imageName}}">
        <!--class="max-h-48"  -->
      </div>
      <div *ngIf="!demoQuiz.questions[currentQuestionIndex].imageName" class="my-20"></div>
    </div>

    <div class="justify-self-end">
      <button *ngIf="!questionIsFinished" class="bg-hooti-beige md:w-20 sm:w-15 rounded-md p-2 " (click)="showCorrectAnswer()">Skip</button>
      <button *ngIf="questionIsFinished" class="bg-hooti-beige md:w-20 sm:w-15 rounded-md p-2 " (click)="nextQuestion()">Next</button>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-2 sm:mx-0 mt-5">
    <div *ngFor="let answer of demoQuiz.questions[currentQuestionIndex].answers; index as i">
      <div *ngIf="!questionIsFinished || (questionIsFinished && answer.isCorrect)" class="{{colors[i]}} p-3 sm:p-10 rounded-sm text-white">{{answer.answer}}</div>
      <div *ngIf="questionIsFinished && !answer.isCorrect" class="bg-hooti-grey p-3 sm:p-10 rounded-sm text-white">{{answer.answer}}</div>
    </div>
  </div>
</div>

