<div class="bg-background-blue h-screen w-screen">
  <div class="pt-14 mx-40 md:mx-40 lg:mx-52 xl:mx-72">
    <div class="grid grid-cols-12 row-auto col-auto">
      <div class="col-span-8 bg-white rounded-lg">
        <div>
          <div class="grid grid-cols-12 row-auto col-auto">
            <div class="col-span-3 row-span-2 md:w-40">
              <img src="/assets/images/hooti.ico">
            </div>
            <div class="col-span-9 pt-4 xl:pl-4 lg:pl-6 md:pl-12">
              <h1 class="lg:text-lg">Join with <b>QR-Code</b> or <b>Game PIN</b></h1>
            </div>
            <div class="md:text-base lg:text-lg xl:text-xl col-span-5 xl:pl-4 lg:pl-6 md:pl-12">
              <h3><i>Game PIN:</i></h3>
              <h3 class="md:text-3xl lg:text-5xl xl:text-7xl"><b>{{ gamePin }}</b></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-2">
        <qrcode [cssClass]="'center'" [scale]="5" [elementType]="'url'" [margin]="3"  [qrdata]="qrCodeData" [title]="qrCodeTitle" [errorCorrectionLevel]="'Q'"></qrcode>
      </div>
    </div>
  </div>

  <div class=" ">
    <div class="mt-28 mx-28 mb-2 grid grid-cols-5 sm:grid-cols-5 md:grid-cols-7 lg:grid-cols-10 xl:grid-cols-12">
      <div class="text-white pt-5 mb-24 xl:col-span-11 lg:col-span-9 md:col-span-6 sm:col-span-4 text-center text-6xl">
        LEOHOOT 
      </div>
      <div>
        <button type="button" class="bg-white ml-6 py-3 px-7 text-xl rounded shadow" (click)="startGame()">
          <div class="flex">
            <img src="assets/images/play-button.png" alt="Play Icon" class="play-icon w-5">
            <span class="mx-2">start</span>
          </div>
        </button>
      </div>
    </div>
    <div class="mx-48 rounded mb-10">
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-8" >
        <div *ngFor="let user of users;">
            <div class="bg-user-orange border-white border-4 p-2 rounded-lg shadow" >
              <p class="xl:text-2xl lg:text-xl md:text-lg sm:text-md text-center text-white">{{user.username}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
