<div class="flex flex-col bg-background-blue min-h-screen">
    <div class="bg-white text-center drop-shadow-lg">
      <div class="container mx-auto p-2">
        <div
          class="mt-8 text-2xl font-bold md:text-4xl"
        >
          Quiz Maker
        </div>
      </div>
    </div>
    <div class="flex flex-row">
        <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
          <div class="fixed inset-0 bg-gray-900/80"></div>
      
          <div class="fixed inset-0 flex">
            <div class="relative mr-16 flex w-full max-w-xs flex-1">

              <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                <button type="button" class="-m-2.5 p-2.5">
                  <span class="sr-only">Close sidebar</span>
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
    
              <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-background-blue px-6 pb-4">
                <div class="flex items-center justify-center">
                  <div class="flex flex-col items-center justify-center mt-8">
                      <p class=" text-white text-lg font-semibold mb-3">Mein erstes Quiz</p>
                      <button class="flex items-center justify-center rounded-lg bg-hooti-yellow text-white h-8 mr-3 w-56">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                          </svg>
                      </button>
                  </div>
                </div>
                <hr>
                <nav cdkDropList class="flex flex-1 flex-col" (cdkDropListDropped)="drop($event)" [cdkDropListData]="existingQuestions">
                  <ul role="list" class="flex flex-1 flex-col gap-y-48">
                    <li>
                      <ul cdkDropList class="-mx-2 space-y-2" [cdkDropListConnectedTo]="['existingQuestions']">
                        <li *ngFor="let question of existingQuestions; let idx = index" cdkDrag>
                          <div class="grid text-white hover:bg-background-blue rounded py-2">
                            <p class="flex items-center justify-center py-2 text-md">
                              {{ question }}
                            </p>
                            <div class="grid grid-cols-5 items-center justify-items-center">
                              <p class="text-lg font-semibold">{{idx + 1}}</p>
                              <img class="col-span-3 self-center justify-self-stretch h-24 w-52" src="/assets/images/placeholder_question.png">
                              <img class="h-5 w-5" src="/assets/images/bin.png" alt="bin">
                            </div>
                          </div>
                        </li>                                 
                      </ul> 
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Static sidebar for desktop -->
        <div class="hidden min-h-screen lg:inset-y-0 lg:z-50 lg:flex lg:w-80 lg:flex-col">
          <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-design-quiz-blue px-6">
            <div class="flex items-center justify-center">
              <div class="flex flex-col items-center justify-center mt-8">
                  <p class=" text-white text-xl font-semibold mb-3">Mein erstes Quiz</p>
                  <button class="flex items-center justify-center rounded-lg bg-hooti-yellow text-white h-11 mr-3 w-64">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                      </svg>
                  </button>
              </div>
            </div>
            <hr>
            <nav cdkDropList class="flex flex-1 flex-col" (cdkDropListDropped)="drop($event)" [cdkDropListData]="existingQuestions">
              <ul role="list" class="flex flex-1 flex-col gap-y-48">
                <li>
                  <ul cdkDropList class="-mx-2 space-y-3" [cdkDropListConnectedTo]="['existingQuestions']">
                    <li *ngFor="let question of existingQuestions; let idx = index" cdkDrag>
                      <div class="grid text-white hover:bg-background-blue rounded py-3">
                        <p class="flex items-center justify-center py-2 text-lg">
                          {{ question }}
                        </p>
                        <div class="grid grid-cols-5 items-center justify-items-center">
                          <p class="text-xl font-semibold hover:font-extrabold">{{idx + 1}}</p>
                          <img class="col-span-3 self-center justify-self-stretch h-28 w-52" src="/assets/images/placeholder_question.png">
                          <img class="h-6 w-6 hover:h-7 hover:w-7" src="/assets/images/bin.png" alt="bin">
                        </div>
                      </div>
                    </li>                                 
                  </ul> 
                </li>
              </ul>
            </nav>  
          </div>
        </div>      
        <div class="lg:pl-72">
               
          <main class="py-10">
            <div class="px-4 sm:px-6 lg:px-8">
              <!-- Main content -->
            </div>
          </main>
        </div>
      </div>
      
</div>
  