<nav class="bg-white text-center drop-shadow-lg relative">
  <div class="container mx-auto p-2">
    <div class="grid grid-cols-3 ">
      <div class="flex items-center">
        <button routerLink="/dashboard"><img class="max-h-16" src="assets/images/hootiFaceIcon.ico" alt="hooti"></button>
        <button routerLink="/dashboard" class="flex items-center text-lg font-bold lg:text-2xl text-center hover:bg-hooti-yellow hover:text-white p-3 lg:p-4 ">></button>
        <button routerLink="/gameLogin" class="flex items-center text-lg font-bold lg:text-2xl text-center hover:bg-hooti-yellow hover:text-white p-3 lg:p-4 ">Join Quiz</button>
        <button routerLink="/quizMaker" class="flex items-center text-lg font-bold lg:text-2xl text-center hover:bg-hooti-yellow hover:text-white p-3 lg:p-4">Maker</button>
      </div>
      <div class="mt-2.5 items-center align-middle">
        <div class="text-center text-3xl font-bold lg:text-4xl ">
          Quizzes
        </div>
      </div>
      <div class="flex justify-end items-center">
        <button class="items-center justify-center font-bold rounded-lg bg-hooti-yellow mx-2 text-white text-xl h-10 w-32" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
