<div class="bg-white rounded-lg">
  <div class="grid grid-cols-12 row-auto col-auto p-3 md:h-36 lg:h-48 xl:h-52">
    <div class="col-span-3 row-span-2">
      <img src="assets/images/hooti.png" alt="Logo" class="xl:h-48 xl:w-48 lg:h-40 lg:2-40 md:h-32 md:w-36">
    </div>
    <div class="col-span-9 pt-4 xl:pl-4 lg:pl-6 md:pl-12">
      <div class="lg:text-lg">Join with <b>QR-Code</b> or <b>Game PIN</b> at <b>{{environment}}</b></div>
    </div>
    <div class="md:text-base lg:text-lg xl:text-xl col-span-5 xl:pl-4 lg:pl-6 md:pl-12">
      <div><i>Game PIN:</i></div>
      <div class="md:text-xl lg:text-5xl xl:text-7xl"><b>{{ gamePin }}</b></div>
    </div>
  </div>
</div>
