<div class="grid place-items-center h-screen bg-background-blue">
  <div class="grid grid-rows-2 gap-4">
    <!-- Obere Reihe für das Bild -->
    <div class="row-span-1 flex justify-center items-end">
      <img src="assets/images/hooti.png" alt="Hooti Logo" class="w-48 h-48">
    </div>

    <!-- Untere Reihe für die Buttons -->
    <div class="row-span-1">
      <div class="bg-white p-6 rounded shadow-md w-full max-w-xl">
        <div class="flex flex-col items-center">
          <button class="bg-hooti-yellow text-white text-xl font-bold py-4 px-6 rounded focus:outline-none focus:shadow-outline w-full mb-4" routerLink="/signup">Signup</button>
          <button class="bg-hooti-yellow text-white text-xl font-bold py-4 px-6 rounded focus:outline-none focus:shadow-outline w-full mb-4" routerLink="/login">Login</button>
          <button class="bg-hooti-yellow text-white text-xl font-bold py-4 px-6 rounded focus:outline-none focus:shadow-outline w-full" (click)="login(true)">Login mit Schulaccount</button>
        </div>
      </div>
    </div>
  </div>
</div>
