<div class="grid grid-cols-5">
  <div class="col-span-1 bg-white">
    <app-sidebar-quizmaker [newQuiz]="quiz" [quizId]="quizId" [editMode]="editMode" (saveQuiz)="saveQuiz()" (close)="close()" (changeEditMode)="changeEditMode()" [initQuestion]="initQuestion" (onDisplay)="displayQuestion($event)" (onInitNewQuestion)="initNewQuestion()" (onCreate)="onQuestionCreate()"></app-sidebar-quizmaker>
  </div>
  <div class="col-span-4 bg-background-blue flex flex-col min-h-screen">
    <app-header-quizmaker [username]="username" [quiz]="quiz" [question]="question" [editMode]="editMode" [quizId]="quizId" (changeEditMode)="changeEditMode()"/>
    <app-quiz-quizmaker *ngIf="!editMode" [newQuiz]="quiz" />
    <app-question-quizmaker #questionScreen *ngIf="editMode" [newQuiz]="quiz" [quizId]="quizId"  [initQuestion]="initQuestion" [question]="question" (questionChange)="updateQuestion($event)" (questionAdded)="onQuestionAdded()"></app-question-quizmaker>
  </div>
  <div *ngIf="loading">
    <app-loading-screen [isLoading]="loading" loadingText="Updating..."></app-loading-screen>
  </div>
</div>