<div class="flex flex-col bg-background-blue min-h-screen">
  <div class="bg-white text-center drop-shadow-lg relative">
      <div class="container mx-auto p-2">
        <div class="flex justify-center items-center">
          <div class="mt-8 text-2xl font-bold md:text-4xl">
            Quiz Maker
          </div>
          <button class="absolute top-2 right-2 p-2 rounded-full hover:bg-gray-300 focus:outline-none" (click)="onClose()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-row">
      <div *ngIf="!isMobileMenuOpen" class="lg:hidden">
        <button type="button" class="inset-y-0 left-0 flex items-center justify-center w-16 h-16 text-white" (click)="toggleMobileMenu()">
          <span class="sr-only">Open sidebar</span>
          <svg class="h-9 w-9" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
      <div *ngIf="isMobileMenuOpen" class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-900/80"></div>
  
        <div class="fixed inset-0 flex">
          <div class="relative mr-16 flex w-full max-w-xs flex-1">
  
            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
              <button type="button" class="-m-2.5 p-2.5" (click)="toggleMobileMenu()">
                <span class="sr-only">Close sidebar</span>
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
  
            <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-design-quiz-blue px-6 pb-4">
              <div class="flex items-center justify-center">
                <div class="flex flex-col items-center justify-center mt-8">
                  <div *ngIf="!title">
                      <p class="text-gray-300 text-xl font-semibold mb-3">Quiz Name</p>
                  </div>
                  <div *ngIf="title">
                    <p class="text-white text-xl font-semibold mb-3">{{ truncateText(title, 17) }}</p>
                  </div>
                  <button class="flex items-center justify-center rounded-lg bg-hooti-yellow mx-2 text-white h-10 w-64" (click)="onQuestionCreate()">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                  </svg>
                </button>
                </div>
              </div>
              <hr>
              <nav class="flex flex-1 flex-col" >
                <ul role="list" class="flex flex-1 flex-col gap-y-48 overflow-y-auto">
                  <li>
                    <ul cdkDropList class="-mx-2 space-y-3 scrollbar-white" (cdkDropListDropped)="drop($event)" [cdkDropListData]="existingQuestions">
                      <li *ngFor="let existingQuestion of existingQuestions; let idx = index" cdkDrag (click)="onQuestionEdit(existingQuestion.questionNumber)">
                        <div class="grid text-white hover:bg-background-blue rounded py-3">
                          <p class="flex items-center justify-center py-2 text-lg">
                            {{ truncateText(existingQuestion.questionText, 30) }}
                          </p>
                          <div class="grid grid-cols-5 items-center justify-items-center">
                            <p class="text-xl font-semibold hover:font-extrabold">{{idx + 1}}</p>
                            <img class="col-span-3 self-center justify-self-stretch h-28 w-52" src="/assets/images/placeholder_question.png">
                            <button class="h-6 w-6 hover:h-7 hover:w-7" (click)="onQuestionDelete(existingQuestion.questionNumber)"><img src="/assets/images/bin.png" alt="bin"/></button>
                          </div>
                        </div>
                      </li>                                 
                    </ul> 
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
        
         <!-- Static sidebar for desktop -->
          <div class="hidden lg:inset-y-0 lg:z-50 lg:flex lg:w-80 lg:flex-col min-h-screen">
            <div class="flex flex-grow flex-col gap-y-5 bg-design-quiz-blue px-6">
              <div class="flex items-center justify-center">
                <div class="flex flex-col items-center justify-center mt-8">
                  <div *ngIf="!title">
                      <p class="text-gray-300 text-xl font-semibold mb-3">Quiz Name</p>
                  </div>
                  <div *ngIf="title">
                    <p class="text-white text-xl font-semibold mb-3">{{ truncateText(title, 17) }}</p>
                  </div>
                  <button class="flex items-center justify-center rounded-lg bg-hooti-yellow mx-2 text-white h-10 w-64" (click)="onQuestionCreate()">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                  </svg>
                </button>
                </div>
              </div>
              <hr>
              <nav class="flex flex-1 flex-col" >
                <div class="overflow-y-auto">
                  <ul role="list" class="flex flex-1 flex-col gap-y-48 overflow-y-auto" style="max-height: calc(100vh - 200px);">
                    <li>
                      <ul cdkDropList class="-mx-2 space-y-3" (cdkDropListDropped)="drop($event)" [cdkDropListData]="existingQuestions">
                        <li *ngFor="let existingQuestion of existingQuestions; let idx = index" cdkDrag (click)="onQuestionEdit(existingQuestion.questionNumber)">
                          <div class="grid text-white hover:bg-background-blue rounded py-3">
                            <p class="flex items-center justify-center py-2 text-lg">
                              {{ truncateText(existingQuestion.questionText, 20) }}
                            </p>
                            <div class="grid grid-cols-5 items-center justify-items-center">
                              <p class="text-xl font-semibold hover:font-extrabold">{{idx + 1}}</p>
                              <img class="col-span-3 self-center justify-self-stretch h-28 w-52" [src]="existingQuestion.snapshot">
                              <button class="h-6 w-6 hover:h-7 hover:w-7" (click)="onQuestionDelete(existingQuestion.questionNumber)"><img src="/assets/images/bin.png" alt="bin"/></button>
                            </div>
                          </div>
                        </li>                                 
                      </ul> 
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>     
   
          <div class="flex-grow overflow-y-auto">
            <main>
              <div class="px- sm:px-4 lg:px-8">
                  <div class="mt-7">
                      <div class="flex justify-end">
                          <div *ngIf="createQuiz.form.valid === false; then disableButtonSave else buttonSave"></div>
                          <div *ngIf="quizId === undefined || existingQuestions.length === 0; then disableButtonPlay else buttonPlay"></div>
                      </div>
          
                      <ng-template #disableButtonSave>
                          <button class="col-span-2 flex items-center justify-center bg-gray-500 rounded text-white h-10 px-8 mr-10 font-semibold w-28" onclick="alert('Fill all required fields to save the quiz (name and description).')">Save</button>
                      </ng-template>
                      <ng-template #buttonSave>
                          <button class="col-span-2 flex items-center justify-center bg-hooti-yellow rounded text-white h-10 px-8 mr-10 font-semibold w-28" (click)="saveQuiz()">Save</button>
                      </ng-template>
          
                      <ng-template #disableButtonPlay>
                          <button class="col-span-2 flex items-center justify-center bg-gray-500 rounded text-white h-10 px-8 mr-10 font-semibold w-28" onclick="alert('Please save the quiz before you play it.')">Play</button>
                      </ng-template>
                      <ng-template #buttonPlay>
                          <button class="col-span-2 flex items-center justify-center bg-hooti-yellow rounded text-white h-10 px-8 mr-10 font-semibold w-28" (click)="playDemoView()">Play</button>
                      </ng-template>
          
                      <div class="flex flex-col md:flex-row items-center mt-5">
                        <div class="flex-1">
                          <form #createQuiz="ngForm" class="space-y-6 lg:mx-4 py-3 px-5 rounded max-w-3xl">
                            <div>
                              <label for="name" class="block text-lg font-medium leading-6 text-white mb-2">Quiz Name</label>
                              <input name="name" type="name" placeholder="Name" [(ngModel)]="title" #quizName="ngModel" required class="block w-full rounded-md border-0 py-1.5 pl-2 md:h-11 md:text-xl text-gray-900 text-center shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-center placeholder:text-base focus:ring-2 focus:ring-inset">
                              <div *ngIf="!quizName.pristine">
                                <p [hidden]="!quizName.errors?.['required']" class="text-gray-400">
                                  A Quiz Name is required.
                                </p>
                              </div>
                            </div> 
                            <div>
                              <label for="description" class="block text-lg font-medium leading-6 text-white mb-2">Description</label>
                              <input name="description" type="description" placeholder="Description" [(ngModel)]="description" required class="block w-full rounded-md border-0 py-1.5 pl-2 md:h-11 md:text-xl text-gray-900 text-center shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-center placeholder:text-base focus:ring-2 focus:ring-inset">
                            </div> 
                          </form>  
                          <div class="mx-9 mt-5">
                            <p class="text-sm text-white">*Answers will be stored in a random order, changing with each game.</p>
                            <p class="text-sm text-white">*Always save your changes before playing the demo view.</p>
                          </div>
                          <div class="mx-9 mt-3 absolute">  
                            <button (click)="toggleDropdown()" class="text-white w-52 bg-hooti-yellow focus:ring-4 focus:outline-none rounded-lg text-lg px-5 py-2.5 text-center inline-flex items-center" type="button">
                              Add Tags
                              <svg class="w-2.5 h-2.5 ml-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                              </svg>
                            </button>

                            <div [class.hidden]="!isDropdownVisible" class="z-10 w-52 mt-2 bg-white rounded-lg shadow">
                              <div class="pl-3 pr-3 pt-3">
                                <input type="text" [(ngModel)]="searchQuery" class="block w-full rounded sm:text-sm border-gray-300 mb-2 placeholder:text-gray-400" placeholder="Search tags">
                              </div>
                              <ul class="overflow-y-auto h-40 p-3 text-sm text-gray-700 dark:text-gray-200">
                                <li *ngFor="let item of filteredItems()">
                                  <div class="flex items-center p-2 rounded hover:bg-gray-100">
                                    <input type="checkbox" [(ngModel)]="item.checked" class="w-4 h-4 text-hooti-yellow bg-gray-100 border-gray-300 focus:ring-hooti-yellow rounded">
                                    <label class="w-full ms-2 text-md text-gray-700 rounded">{{ item.tag.name }}</label>
                                  </div>
                                </li>                                                  
                              </ul>
                              <div class="flex items-center pt-3 p-3 space-y-1 text-sm text-gray-700 border-t rounded-b-lg border-gray-300">
                                <input type="text" [(ngModel)]="newTag" class="flex-1 block w-full rounded sm:text-sm border-gray-300 mr-2 placeholder:text-gray-400" placeholder="new tag">
                                <button type="button" (click)="addTag()" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-hooti-yellow focus:outline-none">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                                  </svg>
                                </button>
                              </div>      
                            </div>
                          </div>
                        </div>
                        <div *ngIf="!imageUrl" class="flex ">
                          <div class="mt-10 mr-10">
                            <label class="flex items-center justify-center h-72 lg:w-128 md:w-80 sm:w-56 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-white hover:bg-gray-100">
                              <div class="flex flex-col items-center justify-center pt-5 pb-6 px-3">
                                <svg
                                  class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16"
                                >
                                  <path
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                                  />
                                </svg>
                                <p class="mb-2 text-sm text-center text-gray-500 dark:text-gray-400"><span
                                  class="font-semibold"
                                >Click to upload</span> or drag and drop</p>
                                <p class="text-xs text-center text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                              </div>
                              <input #fileInput id="dropzone-file" type="file" class="hidden" (change)="handleFileInput($event)"/>
                            </label>
                          </div>
                        </div>

                        <div *ngIf="imageUrl" class="flex-1 flex-col items-center justify-center h-72 my-5">
                          <div class="flex items-center justify-center">
                            <img [src]="imageUrl" class="flex items-center justify-center mt-4 max-h-96 cursor-pointer rounded" alt="Preview">
                          </div>
                          <div class="flex items-center justify-center mt-2">
                            <button class="hover:bg-design-quiz-blue text-white font-bold py-2 px-4 rounded" (click)="onImageDelete()"><img src="/assets/images/bin.png" class="w-5 h-5"></button>
                          </div>
                        </div>
                      </div>         
                  </div>
              </div>
            </main>
          </div>
        </div>
        
  </div>