<div class="flex flex-col bg-background-blue min-h-screen">
    <div class="bg-white text-center drop-shadow-lg relative">
        <div class="container mx-auto p-2">
          <div class="flex justify-center items-center">
            <div class="mt-8 text-2xl font-bold md:text-4xl">
              Quiz Maker
            </div>
            <button class="absolute top-2 right-2 p-2 rounded-full hover:bg-gray-300 focus:outline-none" (click)="onClose()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
          <div class="fixed inset-0 bg-gray-900/80"></div>
    
          <div class="fixed inset-0 flex">
            <div class="relative mr-16 flex w-full max-w-xs flex-1">
    
              <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                <button type="button" class="-m-2.5 p-2.5">
                  <span class="sr-only">Close sidebar</span>
                  <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
    
              <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-background-blue px-6 pb-4">
                <div class="flex items-center justify-center">
                  <div class="flex flex-col items-center justify-center mt-8">
                      <p class=" text-white text-lg font-semibold mb-3">Mein erstes Quiz</p>
                      <button class="flex items-center justify-center rounded-lg bg-hooti-yellow text-white h-8 w-56">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                          </svg>
                      </button>
                  </div>
                </div>
                <hr>
                <nav cdkDropList class="flex flex-1 flex-col" (cdkDropListDropped)="drop($event)" [cdkDropListData]="existingQuestions">
                  <ul role="list" class="flex flex-1 flex-col gap-y-48">
                    <li>
                      <ul cdkDropList class="-mx-2 space-y-2" [cdkDropListConnectedTo]="['existingQuestions']">
                        <li *ngFor="let question of existingQuestions; let idx = index" cdkDrag>
                          <div class="grid text-white hover:bg-background-blue rounded py-2">
                            <p class="flex items-center justify-center py-2 text-md">
                              {{ question }}
                            </p>
                            <div class="grid grid-cols-5 items-center justify-items-center">
                              <p class="text-lg font-semibold">{{idx + 1}}</p>
                              <img class="col-span-3 self-center justify-self-stretch h-24 w-52" src="/assets/images/placeholder_question.png">
                              <img class="h-5 w-5" src="/assets/images/bin.png" alt="bin">
                            </div>
                          </div>
                        </li>                                 
                      </ul> 
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
          
            <!-- Static sidebar for desktop -->
            <div class="hidden lg:inset-y-0 lg:z-50 lg:flex lg:w-80 lg:flex-col min-h-screen">
              <div class="flex flex-grow flex-col gap-y-5 bg-design-quiz-blue px-6">
                <div class="flex items-center justify-center">
                  <div class="flex flex-col items-center justify-center mt-8">
                    <div *ngIf="!title">
                        <p class="text-gray-300 text-xl font-semibold mb-3">Quiz Name</p>
                    </div>
                    <div *ngIf="title">
                      <p class="text-white text-xl font-semibold mb-3">{{ truncateText(title, 17) }}</p>
                    </div>
                    <button class="flex items-center justify-center rounded-lg bg-hooti-yellow mx-2 text-white h-10 w-64" (click)="onQuestionCreate()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                    </svg>
                    </button>
                  </div>
                </div>
                <hr>
                <nav class="flex flex-1 flex-col" >
                  <ul role="list" class="flex flex-1 flex-col gap-y-48 overflow-y-auto">
                    <li>
                      <ul cdkDropList class="-mx-2 space-y-3 scrollbar-white" (cdkDropListDropped)="drop($event)" [cdkDropListData]="existingQuestions">
                        <li *ngFor="let existingQuestion of existingQuestions; let idx = index" cdkDrag (click)="onQuestionEdit(existingQuestion.questionNumber)">
                          <div class="grid text-white hover:bg-background-blue rounded py-3">
                            <p class="flex items-center justify-center py-2 text-lg">
                              {{ truncateText(existingQuestion.questionText, 30) }}
                            </p>
                            <div class="grid grid-cols-5 items-center justify-items-center">
                              <p class="text-xl font-semibold hover:font-extrabold">{{idx + 1}}</p>
                              <img class="col-span-3 self-center justify-self-stretch h-28 w-52" src="/assets/images/placeholder_question.png">
                              <button class="h-6 w-6 hover:h-7 hover:w-7" (click)="onQuestionDelete(existingQuestion.questionNumber)"><img src="/assets/images/bin.png" alt="bin"/></button>
                            </div>
                          </div>
                        </li>                                 
                      </ul> 
                    </li>
                  </ul>
                </nav>
              </div>
            </div>      
     
            <div class="flex-grow overflow-y-auto">
              <main>
                <div class="px- sm:px-6 lg:px-8">
                    <div class="mt-7">
                        <div class="flex justify-end">
                            <div *ngIf="createQuiz.form.valid === false; then disableButtonSave else buttonSave"></div>
                            <div *ngIf="quizId == undefined || existingQuestions.length == 0; then disableButtonPlay else buttonPlay"></div>
                        </div>
            
                        <ng-template #disableButtonSave>
                            <button class="col-span-2 flex items-center justify-center bg-gray-500 rounded text-white h-10 px-8 mr-10 font-semibold w-28" onclick="alert('Fill all infos correctly to save the quiz (name and description are required).')">Save</button>
                        </ng-template>
                        <ng-template #buttonSave>
                            <button class="col-span-2 flex items-center justify-center bg-hooti-yellow rounded text-white h-10 px-8 mr-10 font-semibold w-28" (click)="saveQuiz()">Save</button>
                        </ng-template>
            
                        <ng-template #disableButtonPlay>
                            <button class="col-span-2 flex items-center justify-center bg-gray-500 rounded text-white h-10 px-8 mr-10 font-semibold w-28" onclick="alert('You have to save the quiz before you can play it')">Play</button>
                        </ng-template>
                        <ng-template #buttonPlay>
                            <button class="col-span-2 flex items-center justify-center bg-hooti-yellow rounded text-white h-10 px-8 mr-10 font-semibold w-28" (click)="playDemoView()">Play</button>
                        </ng-template>
            
                        <div class="grid grid-cols-2 mt-5">
                            <div>
                                <form #createQuiz="ngForm" class="space-y-6 mx-4 py-5 px-5 rounded max-w-3xl">
                                    <div>
                                        <label for="name" class="block text-lg font-medium leading-6 text-white mb-2">Quiz Name</label>
                                        <input name="name" type="name" placeholder="Name" [(ngModel)]="title" #quizName="ngModel" required class="block w-full rounded-md border-0 py-1.5 pl-2 md:h-11 md:text-xl text-gray-900 text-center shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-center placeholder:text-base focus:ring-2 focus:ring-inset">
                                        <div *ngIf="!quizName.pristine">
                                            <p [hidden]="!quizName.errors?.['required']" class="text-gray-400">
                                                A Quiz Name is required.
                                            </p>
                                        </div>
                                    </div> 
                        
                                    <div>
                                        <label for="description" class="block text-lg font-medium leading-6 text-white mb-2">Description</label>
                                        <input name="description" type="description" placeholder="Description" [(ngModel)]="description" required class="block w-full rounded-md border-0 py-1.5 pl-2 md:h-11 md:text-xl text-gray-900 text-center shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-center placeholder:text-base focus:ring-2 focus:ring-inset">
                                    </div> 
                                </form>  
                            </div>
                            <div class="flex items-center justify-center">
                                <div class="w-128 my-14">
                                    <div *ngIf="!imageName">
                                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-128 h-72 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-white hover:bg-gray-100">
                                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                                </svg>
                                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                            </div>
                                            <input id="dropzone-file" type="file" class="hidden" (change)="handleFileInput($event)"/>
                                        </label>
                                    </div>
                                    <div *ngIf="imageName" class="flex flex-col items-center justify-center h-72 my-5">
                                        <label for="dropzone-file">
                                          <img [src]="imageName" class="flex flex-col items-center justify-center mt-4 max-h-96 cursor-pointer rounded" alt="Preview">
                                          <div class="flex items-center justify-center mt-2">
                                            <button class="hover:bg-design-quiz-blue text-white font-bold py-2 px-4 rounded" (click)="onDeleteImage()"><img src="/assets/images/bin.png" class="w-5 h-5"></button>
                                          </div>                   
                                        </label>
                                    </div>    
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
              </main>
            </div>
          </div>
          
    </div>
      
    <!--<div class="grid grid-cols-6">
        <div class="bg-design-quiz-blue min-h-screen">
            <div class="grid grid-cols-6 my-3 drop-shadow-lg">
                <p class="col-span-4 flex items-center text-white font-semibold pl-5">{{ truncateText(title, 17) }}</p>
                <button class="col-span-2 flex items-center justify-center rounded bg-hooti-yellow text-white h-10 mr-3" (click)="addQuestion()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                    </svg>
                </button>
            </div>
            <hr>
            <nav class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                    <li>
                    <ul *ngFor="let question of existingQuestions" role="list" class="text-white">
                        <li class="hover:bg-design-quiz-hover">
                            <div class="grid grid-cols-6">
                                <button class="pt-4 pb-4 flex items-center justify-center hover:bg-design-quiz-blue" (click)="deleteQuestion(question.questionNumber)">
                                  <img class="size-6" src="/src/assets/images/bin.png" alt="bin">
                                </button>
                                <div class="col-span-5 pl-3 flex items-center" (click)="editQuestion(question.questionNumber)">
                                  {{ truncateText(question.questionText, 30) }}
                                </div>
                              </div>
                        </li>
                        <hr class="border-background-blue border-t-2">
                    </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-span-5 mt-7">
            <div class="flex justify-end">
                <div *ngIf="createQuiz.form.valid === false; then disableButtonSave else buttonSave"></div>
                <div *ngIf="quizId == undefined || existingQuestions.length == 0; then disableButtonPlay else buttonPlay"></div>
            </div>

            <ng-template #disableButtonSave>
                <button class="col-span-2 flex items-center justify-center bg-gray-500 text-white h-10 px-8 mr-10 font-semibold w-28" onclick="alert('Fill all infos correctly to save the quiz')">Save</button>
            </ng-template>
            <ng-template #buttonSave>
                <button class="col-span-2 flex items-center justify-center bg-hooti-yellow rounded text-white h-10 px-8 mr-10 font-semibold w-28" (click)="saveQuiz()">Save</button>
            </ng-template>

            <ng-template #disableButtonPlay>
                <button class="col-span-2 flex items-center justify-center bg-gray-500 rounded text-white h-10 px-8 mr-10 font-semibold w-28" onclick="alert('You have to save the quiz before you can play it')">Play</button>
            </ng-template>
            <ng-template #buttonPlay>
                <button class="col-span-2 flex items-center justify-center bg-hooti-yellow rounded text-white h-10 px-8 mr-10 font-semibold w-28" (click)="playDemoView()">Play</button>
            </ng-template>

            <div class="grid grid-cols-2 mt-5">
                <div>
                    <form #createQuiz="ngForm" class="space-y-6 mx-4 py-5 px-5 rounded max-w-3xl">
                        <div>
                            <label for="name" class="block text-lg font-medium leading-6 text-white mb-2">Quiz Name</label>
                            <input name="name" type="name" placeholder="Name" [(ngModel)]="title" #quizName="ngModel" required class="block w-full rounded-md border-0 py-1.5 pl-2 md:h-11 md:text-xl text-gray-900 text-center shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-center placeholder:text-base focus:ring-2 focus:ring-inset">
                            <div *ngIf="!quizName.pristine">
                                <p [hidden]="!quizName.errors?.['required']" class="text-gray-400">
                                    A Quiz Name is required.
                                </p>
                            </div>
                        </div>

                        <div>
                            <label for="description" class="block text-lg font-medium leading-6 text-white mb-2">Description</label>
                            <input name="description" type="description" placeholder="Description" [(ngModel)]="description" required class="block w-full rounded-md border-0 py-1.5 pl-2 md:h-11 md:text-xl text-gray-900 text-center shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-center placeholder:text-base focus:ring-2 focus:ring-inset">
                        </div>
                    </form>
                </div>
                <div class="flex items-center justify-center">
                    <div class="w-128 my-16">
                        <div *ngIf="!imageName">
                            <label for="dropzone-file" class="flex flex-col items-center justify-center w-128 h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-white hover:bg-gray-100">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                    </svg>
                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                </div>
                                <input id="dropzone-file" type="file" class="hidden" (change)="handleFileInput($event)"/>
                            </label>
                        </div>
                        <div *ngIf="imageName" class="flex items-center justify-center">
                            <img [src]="imageName" *ngIf="imageName" class="max-w-4xl max-h-96" alt="Preview">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>-->
