<div class="bg-hooti-beige min-h-screen">
  <div class="bg-hooti-yellow pb-2 text-center">
    <div class="container mx-auto p-2">
      <div class="text-2xl font-bold md:text-4xl">
        Student View
      </div>
    </div>
  </div>
   <div class="container mx-auto max-w-128 p-2 text-center bg-hooti-beige max-w-screen-sm">
     <div class="bg-white border-2 border-yellow-400 rounded-md col-auto row-auto mb-20 grid-rows-1 text-xl mt-3 grid grid-cols-3 gap-2 mx-auto">
         <p class="text-center justify-start">{{currentQuestionId}}/{{quizLength}}</p>
         <p class="text-center">{{username}}</p>
     </div>
     <div class="bg-white border-2 border-yellow-400 rounded-md col-auto row-auto mb-10  flex justify-center items-center grid-cols-2 grid-rows-2 gap-3">
       <div class="container mx-auto p-2" >
         <div class="mt-5 grid grid-cols-2 gap-2 sm:mx-0">
           <div *ngFor="
            let buttonClicked of buttons; 
            index as i">
             <div
               *ngIf="!buttonClicked" (click)="addToAnswer(i)"
               class="{{colors[i]}} flex items-center w-full h-40 rounded-lg md:text-2xl text-base
               font-bold px-4 text-white shadow-lg shadow-gray-300 md:h-50 align-middle">
               <img src="{{icons[i]}}" class="h-20 w-20">
             </div>
             <div
              *ngIf="buttonClicked" (click)="addToAnswer(i)"
               class="{{colors[i]}} flex items-center w-full h-40 rounded-lg border-8 border-hooti-grey md:text-2xl text-base
               font-bold px-4 text-white shadow-lg shadow-gray-300 md:h-50 align-middle">
               <img src="{{icons[i]}}" class="h-20 w-20">
            </div>
             
           </div>
         </div>
         <div class="col-auto row-auto mt-4 grid grid-cols-1 grid-rows-1 gap-3">
           <div class="justify-self-end">
             <button
               class="sm:w-50 my-1 rounded-md bg-hooti-yellow p-5 text-white md:w-50 font-bold"
               (click)="confirmAnswers()"
             >
               Confirm Answers
             </button>
           </div>
         </div>
       </div>
    </div>
   </div>
</div>

