<div class="flex flex-col lg:flex-row min-h-screen bg-background-blue">
  <!-- Sidebar -->
  <aside class="lg:w-1/5 bg-white p-4 text-center max-h-full flex flex-col justify-between">
    <div class="flex flex-col">
      <img src="assets/images/hootiFaceIcon.ico" alt="hooti" class="w-16 h-16 mb-4 mx-auto">
      <button routerLink="/quizOverview" class="flex items-center p-2 w-full text-gray-700 hover:bg-gray-200 rounded">
        <span class="material-icons mr-2">home</span> Home
      </button>
      <button routerLink="/favorites" class="flex items-center p-2 w-full text-gray-700 hover:bg-gray-200 rounded">
        <span class="material-icons mr-2">star</span> Favorites
      </button>
      <button (click)="toggleOwnQuizzes()" class="flex items-center p-2 w-full text-gray-700 hover:bg-gray-200 rounded">
        <span class="material-icons mr-2">quiz</span> {{ viewOwnQuizzes ? 'All Quizzes' : 'Own Quizzes' }}
      </button>
    </div>
    <button routerLink="/quizMaker" class="mt-4 w-full p-2 bg-hooti-yellow text-white rounded">
      New Quiz
    </button>
  </aside>

  <!-- Main Content -->
  <div class="flex flex-col flex-1">
    <!-- Header -->
    <div class="flex flex-wrap items-center bg-background-blue-dark p-4 text-white">
      <div class="flex-1 flex items-center">
        <span class="material-icons text-2xl mr-2">search</span>
        <input
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchText"
          (input)="search(searchText)"
          class="p-2 flex-grow rounded-lg bg-white text-gray-800"
        />
      </div>
      <div class="relative ml-4">
        <button class="flex items-center" (click)="toggleDropdown()">
          <span class="material-icons text-2xl mr-1">account_circle</span>
          {{ username }}
          <span class="material-icons ml-1">expand_more</span>
        </button>
        <div
          *ngIf="isDropdownOpen"
          class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-10"
        >
          <button class="block w-full text-black text-left p-2 hover:bg-gray-100 hover:rounded-lg">Your Profile</button>
          <button class="block w-full text-black text-left p-2 hover:bg-gray-100 hover:rounded-lg" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
    
    <main class="p-4 sm:p-6">
      <div class="flex flex-wrap gap-2 mb-4">
        <span *ngFor="let tag of tags">
          <span (click)="toggleTagSelection(tag)" *ngIf="selectedTags.includes(tag)" class="px-3 py-1 bg-hooti-yellow text-white rounded text-lg">{{ tag.name }}</span>
          <span (click)="toggleTagSelection(tag)" *ngIf="!selectedTags.includes(tag)" class="px-3 py-1 bg-gray-200 rounded text-lg">{{ tag.name }}</span>
        </span>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <div
          *ngFor="let quiz of filteredQuizzes"
          class="p-4 bg-white h-96 rounded-lg shadow-lg flex flex-col items-center"
        >
        
        <div (click)="viewQuizDetails(quiz)">
          <img
            *ngIf="quiz.imageName"
            [src]="quiz.imageName"
            alt="Quiz Image"
            class="w-full h-56 object-cover mb-2"
          />
          <img
            *ngIf="!quiz.imageName"
            src="assets/images/noImage.png"
            alt="No image"
            class="w-full h-56 object-cover mb-2"
          />
          <p class="text-lg mb-1 text-center">{{ quiz.title }}</p>
          <div class="flex flex-wrap gap-2 mb-2 justify-center h-8">
            <span *ngFor="let tag of quiz.tags" class="px-2 py-1 bg-gray-200 rounded text-sm">{{ tag.name }}</span>
          </div>
          <div class="flex justify-between w-full mt-auto">
            <div class="flex justify-start items-center rounded-lg">
              <img src="/assets/images/hootiFaceIcon.ico" alt="hootie icon" class="w-10 h-10 rounded-full mr-2">
              <div class="text-md">{{quiz.creator}}</div>
            </div>
            
            <div class="flex justify-end items-center ">
              <div class="inline-block bg-gray-200 rounded-full px-3 py-1 font-bold ml-2 mr-2 text-end">?</div>
              <div class="text-end">{{ quiz.questions.length }}</div>
            </div>
          </div>
        </div>  
        </div>
        </div>
      
    </main>
  </div>
</div>
