<div class="bg-background-blue min-h-screen" *ngIf="gamePin > 0">
  <div class="pt-14 absolute pl-10 z-50 cursor-pointer" (click)="quit()">
    <img src="assets/images/back-white.png" 
         alt="go back" 
         class="transition-transform duration-200 transform hover:scale-125 w-10 h-10">
  </div>
 
  <div class="pt-14 mx-40 md:mx-40 lg:mx-52 xl:mx-72">
    <div class="grid grid-cols-12 row-auto col-auto">
      <app-game-infos [gamePin]="gamePin" [environment]="url" class="col-span-8"></app-game-infos>
      <div class="pl-5 col-span-3 justify-self-end">
        <qrcode
          [cssClass]="'center'"
          [scale]="5"
          [elementType]="'url'"
          [margin]="3"
          [qrdata]="qrCodeData"
          [title]="qrCodeTitle"
          [errorCorrectionLevel]="'Q'"
          (click)="showQrFullscreen()"
          class="cursor-pointer">
        </qrcode>
      </div>
    </div>
  </div>

  <div class="mt-28 mx-28 mb-8 flex items-center justify-between">
    <!-- User Count -->
    <div class="flex items-center justify-cente text-white font-bold w-24 h-24">
      <div class="text-center">
        <div class="text-4xl">{{ users.length }}</div>
        <div class="text-lg">Players</div>
      </div>
    </div>

    <!-- Title -->
    <div class="text-white text-center text-6xl font-bold">
      Leohoot
    </div>

    <!-- Start Button -->
    <button
      type="button"
      class="h-16 rounded-md bg-white p-2 text-black font-bold w-28 flex items-center justify-center shadow-lg"
      (click)="startGame()"
    >
      <img src="/assets/images/play-button.png" alt="Play Icon" class="play-icon w-5 mr-2">
      <span class="text-lg">Start</span>
    </button>
  </div>
  <div class="px-16 max-w mx-auto grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-7">
    <app-user-card
      *ngFor="let user of users"
      [name]="user.username"
      (delete)="onDeletePerson(user)"
    ></app-user-card>
  </div>

  <div
    *ngIf="isQrFullscreen"
    class="fixed inset-0 bg-black bg-opacity-60 flex justify-center items-center z-50">
    <div class="relative bg-white p-4 rounded-md">
      <qrcode
        [cssClass]="'center'"
        [scale]="10"
        [elementType]="'url'"
        [margin]="3"
        [qrdata]="qrCodeData"
        [title]="qrCodeTitle"
        [errorCorrectionLevel]="'Q'">
      </qrcode>
      <button
        (click)="closeQrFullscreen()"
        class="absolute top-2 right-2 bg-red-500 text-white rounded-full w-7 h-7 text-lg">
        &times;
      </button>
    </div>
  </div>
</div>
