<div class="flex flex-col lg:flex-row min-h-screen">
  <app-sidebar class="lg:w-1/5 w-full h-full lg:block hidden sticky top-0 self-start"/>
  <app-sidebar
    *ngIf="isSidebarVisible && !screenIsLarge"
    class="w-1/2 bg-white fixed lg:relative z-50"
    [toggleSidebar]="toggleSidebar.bind(this)">
  </app-sidebar>
  <div class="bg-background-blue flex flex-col flex-1 min-h-screen">
    <app-header-details [username]="username" [quiz]="quiz" [toggleSidebar]="toggleSidebar.bind(this)"/>
    <app-quiz-details [quiz]="quiz"/>
    <app-questions [questions]="quiz?.questions"/>
  </div>
</div>

