<div class="grid grid-cols-3 items-center space-x-10 p-10">
  <div class="col-span-1">
    <img
      *ngIf="selectedQuiz?.imageName"
      [src]="selectedQuiz?.imageName"
      alt="quiz image"
      class="w-full max-w-100 max-h-72 h-auto object-contain"
    />
    <img
      *ngIf="!selectedQuiz?.imageName"
      src="/assets/images/noImage.png"
      alt="quiz image"
      class="w-full max-w-100 max-h-72 h-auto object-contain"
    />
  </div>
  <div class="col-span-2">
    <div class="grid grid-cols-4 items-center space-y-3 text-white text-base">
      <div class="col-span-1 font-bold">Creator:</div>
      <div class="col-span-3 flex items-center justify-between">
        <span>{{selectedQuiz?.creator}}</span>
        <img src="assets/images/play-button-white.png" alt="Play" class="w-10 h-10" (click)="startGame()">
      </div>
      <div class="col-span-1 font-bold">Duration:</div>
      <div class="col-span-3">{{Math.floor(duration/60)}} min {{duration%60}} s</div>
      <div class="col-span-1 font-bold">Tags</div>
      <div class="col-span-3">
        <div class="flex flex-wrap gap-2">
          <div class="bg-tags py-2 px-5 rounded-lg font-extrabold" *ngFor="let tag of selectedQuiz?.tags">
            {{ tag?.name }}
          </div>
        </div>
      </div>
      <div class="col-span-1 font-bold">Visibility:</div>
      <div class="col-span-3 flex items-center space-x-3">
        <span class="text-white text-md">Private: </span>
        <div class="relative w-14 h-7 flex items-center">
          <!-- Checkbox hidden for visual effect -->
          <input type="checkbox" [checked]="!selectedQuiz?.isPublic" class="sr-only peer" />
          <div *ngIf="!selectedQuiz?.isPublic" class="relative w-14 h-7 bg-gray-200 rounded-full peer-checked:bg-hooti-yellow">
            <div class="after:content-[''] after:absolute after:top-[2px] after:right-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 transition-all peer-checked:after:translate-x-full peer-checked:after:right-0"></div>
          </div>
          <div *ngIf="selectedQuiz?.isPublic" class="relative w-14 h-7 bg-gray-200 rounded-full peer-checked:bg-hooti-yellow">
            <div class="after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 transition-all peer-checked:after:translate-x-full peer-checked:after:left-0"></div>
          </div>
        </div>
        <img src="assets/images/padlock.png" class="h-7 w-7" />
      </div>
        <div class="col-span-1 font-bold">Description:</div>
      <div class="col-span-3">{{selectedQuiz?.description}}</div>
    </div>
  </div>
</div>
